/NetBeansProjects/Association/nbproject/private/
/NetBeansProjects/Association/build/
/NetBeansProjects/iono what to call this/nbproject/private/
/NetBeansProjects/iono what to call this/build/
/NetBeansProjects/ABC Hospital Management System/nbproject/private/
/NetBeansProjects/ABC Hospital Management System/build/
/NetBeansProjects/ABC Hospital Management System/dist/
